.fastShipping{
    margin:0 30px;
    background: #fff;
    padding: 20px 40px;
    .fastTop{
        height: 45px;
    }
    .fastTop>div{
        margin-right: 10px;
    }
    .address{
        background: url("../image/address_book.png")no-repeat center;
        background-size:100%;
    }
}
.fastTable{
    margin-top: 15px;
        img{
            height: 45px;
            width: 45px;
        }
}
.ViewButton{
    a{
        color:@blue;
    }
}
.shipmentLeft{
    padding: 10px 0 0 30px;
    font-size: 12px;
   .radio1{
       display: flex;
       flex-direction: column;
       justify-content: center;
       img{
           width: 180px;
       }
       p{
           height: 25px;
           line-height: 25px;
       }
   }
}
.shipmentRight{
    margin-top: 20px;
}
.shipmentRight>div{
    height: 60px;
    display: flex;
    align-items: center;
    .textRight{
        text-align: right;
        padding-right: 10px;
    }
}
.dialog-footer{
    padding-top: 20px;
    button{
        margin: 0 40px;
    }
}
//详情
.stockAllotDetails{
    margin:0 30px;
    background: #fff;
    padding: 20px 40px;
    .detailsTop{
        font-size: 13px;
        color:#333;
    }
    .detailsTop>div{
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 30px;
    }
    .back{
        color:@blue;
        border-bottom: 1px solid @blue;
        font-size: 12px;
    }

}
