.companyChange{
    background: @red;
    color:#fff;
    a{
        color: #ffffff;
    }
}
.companyManage{
    margin:0 30px;
    background: #fff;
    padding: 20px 40px;
    .salesButton>button{
        width:88px;
        margin-bottom: 20px;
    }
    .companyInfoTable{
        padding-top: 40px;
        .headImg{
            width:40px;
            height:40px;
        }
    }
    .export_excle{
        margin: 10px 0;
        margin-left: 10px;
    }
}

.compManagement-search{
    margin-bottom: 15px;
}
.dialogDetail{
    .compDetailTable{
        img{
            width: 40px;
            height: 40px;
        }
    }
}

