.startsMenu{
    height:50px;
    margin-left: 30px;
    li{
        width:160px;
        display: inline-block;
        line-height: 50px;
        text-align: center;
        font-size: 16px;
        float: left;
        a{
            display: inline-block;
            width:100%;
            height:100%;
            color:#333;
        }
    }
}
.menuManagement{
    margin:0 30px;
    background: #fff;
    padding: 20px 40px;
    .salesButton>button{
        width:88px;
        margin-bottom: 20px;
    }
    .menuInfoTable{
        padding-top: 50px;
        .headImg{
            width:40px;
            height:40px;
        }
    }
    .export_excle{
        margin: 10px 0;
        margin-left: 10px;
    }
}
.btn{
    margin-left: 15px;
}
.dialogDetail{
    .menuDetailTable{
        img{
            width: 40px;
            height: 40px;
        }
    }
}
