.messageCenter{
    margin:0 30px;
    background: #fff;
    padding: 20px 40px 20px 10px;
    height: 100%;
    .messageRadio{
        margin: 20px 0;
    }
    .messageContent{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        color:#666;
    }
    .messageContent:hover{
        color:#000;
    }
    .messagePage{
        text-align: center;
        margin-top: 20px;
    }
}
.messageDetails{
    margin:0 30px;
    background: #fff;
    padding: 20px 40px;
    height: 100%;
    .detailsContent{
        margin-top: 40px;
        border:1px solid #d8d8d8;
        color:#666;
        .contentHead{
            border-bottom: 1px solid #d8d8d8;
            height: 35px;
            background: #f4f4f4;
            padding: 0 40px;
            font-size: 14px;
            p{
                margin-left: 30px;
            }
            img{
                width: 22px;
                height: 22px;
            }
        }
        .detailsCont{
            padding: 40px 40px 25px;
            p{
                margin-bottom: 15px;
            }
        }
    }
}
.el-pager li.active{
    border-color: #ccc;
    background-color: #ccc;
    color: #fff;
    cursor: default;
}
//公告详情
.systemNoticeDetails{
    color:#333;
    margin:15px 30px;
    background: #fff;
    padding: 20px 30px;
    height:100%;
    .detailsContent1{
        margin-top: 40px;
        border:1px solid #d8d8d8;
        color:#666;
        .contentHead{
            border-bottom: 1px solid #d8d8d8;
            height: 35px;
            background: #f4f4f4;
            padding: 0 10px;
            font-size: 14px;
            p{
                margin-left: 30px;
            }
        }
        .detailsCont{
            padding: 40px 40px 25px;
            p{
                margin-bottom: 15px;
            }
        }
    }
}
.sysBack{
    color:#333;
    border-bottom: 1px solid #333;
    font-size: 12px;
}
